/* Styles globaux */
body, html {
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    background-color: #f4f4f9;
    justify-content: center; /* Centre horizontalement */
    align-items: center; /* Centre verticalement */
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column; /* Organise les éléments verticalement */
    margin: 0;
    padding: 0;
    width: 100%;
}

/* Conteneur principal */
.container {
    margin-top: 10%;
    background: #ffffff;
    padding: 40px 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 500px;
    max-width: 500px;
    text-align: center;
    height: 400px;
    flex: 1; /* Pousse le footer vers le bas */
    display: flex;
    flex-direction: column;
    margin-bottom: 5%;
    justify-content: center; /* Centre le contenu verticalement si nécessaire */
}

/* Titre */
.container h1 {
    font-size: 28px;
    font-weight: 600;
    color: #333333;
    margin-bottom: 30px;
}

/* Formulaire */
form {
    display: flex;
    flex-direction: column;
}

/* Champs de texte */
form input[type="text"],
form input[type="password"], 
form input[type="email"]
{
    padding: 10px 15px;
    font-size: 16px;
    border: 1px solid #dddddd;
    border-radius: 5px;
    margin-bottom: 20px;
    transition: all 0.3s ease;
}

form input[type="text"]:focus,
form input[type="password"]:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.3);
}

/* Bouton de connexion */
form input[type="submit"] {
    padding: 10px 15px;
    font-size: 16px;
    color: #ffffff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form input[type="submit"]:hover {
    background-color: #0056b3;
}

/* Lien pour s'inscrire */
.switch {
    font-size: 14px;
    color: #555555;
    margin-top: 20px;
}

.switch a {
    color: #007bff;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease;
}

.switch a:hover {
    color: #0056b3;
}

/* Responsive */
@media (max-width: 480px) {
    .container {
        padding: 20px 15px;
    }

    .container h1 {
        font-size: 24px;
    }

    form input[type="text"],
    form input[type="password"] {
        font-size: 14px;
    }

    form input[type="submit"] {
        font-size: 14px;
    }
}
    

.footer {
    background-color: red; /* Vérifie la largeur */
}